@page
@model Orders.Pages.IndexModel
@{
    ViewData["Title"] = "Orders";
}

<div class="row">
    <a asp-action="Index" asp-controller="UserProfile" class="btn btn-default" style="margin-top: 10px">Go to user profile</a>
</div>
